<mat-toolbar style="background-color: #121926;"
             class="max-w-7xl mx-auto border-x justify-between flex items-center p-4">
    <div class="mr-4 flex justify-center">
        <img src="assets/pear.svg" alt="Pear SVG" class="h-10 w-10 fill-current text-white">
        <div class="text-white ml-5 text-3xl">Pear With Me</div>
    </div>
    <div>
        <button mat-raised-button class="mr-4" color="primary" (click)="onSwapPears()">Clear Pears</button>
        <button mat-raised-button color="accent" (click)="onSwapPears()">Swap Those Pears</button>
    </div>
</mat-toolbar>